# Tracking Data Entry Progress in RMMS Module Using Python.

This notebook contains a step-by-step guide on how to filter data using Python to track the progress of data entry in the RMMS Module. Before proceeding, make sure you have downloaded the large data file in Excel format from the RMMS Module. The following scripts were developed to achieve the desired result:

Data Download: The first step is to download the large data file from the RMMS Module in Excel format. This file will serve as the input for our data filtering process.

In [4]:
import pandas as pd

def load_excel_file(file_path, sheet_name):
    try:
        df = pd.read_excel(file_path, sheet_name=sheet_name)
        return df
    except Exception as e:
        print("Error loading the Excel file:", e)
        return None

if __name__ == "__main__":
    file_path = "RP.xlsx"  # Replace with the actual path of your Excel file
    sheet_name = "sheet1"  # Replace with the name of the sheet in your Excel file

    df = load_excel_file(file_path, sheet_name)
    if df is not None:
        print(df.head())

  Road Code                                        Itm Desc      Qty  \
0     A0001                  KM Post painting and numbering    16.00
1     A0001  Removal of silt and sand in kerbs and channels  3036.00
2     A0001                                   Crack sealing   818.66
3     A0001               clearing of manholes and gullies.    60.00
4     A0002                              Road side sweeping     0.00

  Units Of Measurement     Rate  Total Amount Province CE Region           EE  \
0                   no  1107.35     17717.600     WEST   Gampaha      Gampaha
1                    m    21.80    189082.800  CENTRAL     Kandy  Kadugannawa
2                  sqm   214.55    175643.503  CENTRAL     Kandy        Kandy
3                   no   332.69     19961.400  CENTRAL     Kandy  Kadugannawa
4                  sqm     1.81         0.000    SOUTH     Galle        Galle

         Depot
0      Gampaha
1  Kadugannawa
2      Gatambe
3  Kadugannawa
4    Baddegama

The number of data entries performed by each Depot is sought to be determined. A specialized script has been developed for the purpose of gathering this data. pandas function #.value_counts() that operates on the series. It counts the occurrences of each unique value in the Series and returns the result as a new Series, where the unique values are the index, and the counts are the corresponding values. The Series is sorted in descending order based on the counts.

In [5]:
column_name = "Depot"

df1 = df[column_name].value_counts()
print(df1.head())

Depot
Thalgaswala       175
Embilipitiya      136
Nugaduwa          124
Indikatudeniya    124
Beragama          101
Name: count, dtype: int64

The addition of data filtering based on specific columns, such as "EE division" and "CE division," has been implemented in this script. Consequently, input entries have been incorporated to enable a more refined data collection process.

In [6]:
column_name = input("Enter the name of the column for which you want to find unique values: ")
df1 = df[column_name].value_counts()
print(df1.head())

Enter the name of the column for which you want to find unique values: EE
EE
Galle           271
Deniyaya        236
Embilipitiya    203
Hiniduma        175
Chilaw           97
Name: count, dtype: int64

.reset_index(): This part resets the index of the Series. When you call reset_index() on a pandas Series, it converts the Series into a DataFrame. The old index of the Series becomes a new column in the DataFrame, and a new default integer index is assigned.

In [7]:
column_div = df1.reset_index()
column_div.columns = ['Value', 'Count']
print(column_div.head())

          Value  Count
0         Galle    271
1      Deniyaya    236
2  Embilipitiya    203
3      Hiniduma    175
4        Chilaw     97

.to_csv function is use to write the data frame in to the csv file.

In [8]:
output_file = "output.csv"
column_div.to_csv(output_file, index=False)
print(f"Data has been written to {output_file}.")

Data has been written to output.csv.

pd.read_csv function is use to load csv file from the directory.

In [9]:
file_name = 'Road list new.csv'
df2 = pd.read_csv(file_name)
print(df2.head())

  Road Number Class                               Name  From (m)  To (m)  \
0       A0000     A  Kollupitiya - Sri Jayewardenepura         0    3570
1       A0000     A  Kollupitiya - Sri Jayewardenepura      3570    7092
2       A0001     A                    Colombo - Kandy         0    4700
3       A0001     A                    Colombo - Kandy      4700    5860
4       A0001     A                    Colombo - Kandy      5860   22580

   Length (m)        Deport  Deport Code       EE  EE Code       CE  CE Code  \
0        3570           CMC         1110  Colombo      111  Colombo       11
1        3522        Nawala         1113  Colombo      111  Colombo       11
2        4700           CMC         1110  Colombo      111  Colombo       11
3        1160  Orugodawatta         1114  Colombo      111  Colombo       11
4       16720     Kadawatha         1212  Gampaha      121  Gampaha       12

           Province  Prov Code
0  Western Province          1
1  Western Province          1
2  Western Province          1
3  Western Province          1
4  Western Province          1

This script is to select required columns from the loaded data frame. iloc function is to select columns according to their index number.

In [20]:
col_select1 = [0, 2, 3, 4, 6, 8, 10, 12]
df3 = df2.iloc[:, col_select1]
print(df3.head())

  Road Number                               Name  From (m)  To (m)  \
0       A0000  Kollupitiya - Sri Jayewardenepura         0    3570
1       A0000  Kollupitiya - Sri Jayewardenepura      3570    7092
2       A0001                    Colombo - Kandy         0    4700
3       A0001                    Colombo - Kandy      4700    5860
4       A0001                    Colombo - Kandy      5860   22580

         Deport       EE       CE          Province
0           CMC  Colombo  Colombo  Western Province
1        Nawala  Colombo  Colombo  Western Province
2           CMC  Colombo  Colombo  Western Province
3  Orugodawatta  Colombo  Colombo  Western Province
4     Kadawatha  Gampaha  Gampaha  Western Province

Data frame 3 has been copied to avoid dupplications. new data frame column 1 changed to match the name in excel file using rename columns function.

In [21]:
df4 = df3.copy()
df4.rename(columns={'Road Number': 'Road Code', 'Deport':'Depot' }, inplace=True)
print(df4.head())

  Road Code                               Name  From (m)  To (m)  \
0     A0000  Kollupitiya - Sri Jayewardenepura         0    3570
1     A0000  Kollupitiya - Sri Jayewardenepura      3570    7092
2     A0001                    Colombo - Kandy         0    4700
3     A0001                    Colombo - Kandy      4700    5860
4     A0001                    Colombo - Kandy      5860   22580

          Depot       EE       CE          Province
0           CMC  Colombo  Colombo  Western Province
1        Nawala  Colombo  Colombo  Western Province
2           CMC  Colombo  Colombo  Western Province
3  Orugodawatta  Colombo  Colombo  Western Province
4     Kadawatha  Gampaha  Gampaha  Western Province

groupby() function is use to group according to the Depot name and value count is taken according to Road code.

In [22]:
df5 = df.groupby('Depot')['Road Code'].value_counts()
print(df5)
df6 = df5.reset_index()
df6.columns = ['Depot', 'Road Code', 'Count']
print(df6)
output_file2 = "output2.csv"
df6.to_csv(output_file2, index=False)

Depot             Road Code
Ambanpola         A0028         1
Ampara            A0025         1
Baddegama         B0106        11
                  B0526        10
                  A0002        10
                               ..
Udadumbara        A0026         1
                  B0493         1
Ulhiduwawa (sub)  A0017        28
Walachchenei      A0015         1
Walahapitiya      B0272        16
Name: count, Length: 131, dtype: int64
                Depot Road Code  Count
0           Ambanpola     A0028      1
1              Ampara     A0025      1
2           Baddegama     B0106     11
3           Baddegama     B0526     10
4           Baddegama     A0002     10
..                ...       ...    ...
126        Udadumbara     A0026      1
127        Udadumbara     B0493      1
128  Ulhiduwawa (sub)     A0017     28
129      Walachchenei     A0015      1
130      Walahapitiya     B0272     16

[131 rows x 3 columns]

In [23]:
match_col = ['Depot', 'Road Code']
df7 = pd.merge(df4, df6, on=match_col, how='outer')
print(df7)

     Road Code                                   Name  From (m)  To (m)  \
0        A0000      Kollupitiya - Sri Jayewardenepura         0    3570
1        A0000      Kollupitiya - Sri Jayewardenepura      3570    7092
2        A0001                        Colombo - Kandy         0    4700
3        A0001                        Colombo - Kandy      4700    5860
4        A0001                        Colombo - Kandy      5860   22580
...        ...                                    ...       ...     ...
1091     K0043                      Wellawaya By Pass         0    1150
1092     K0044  Mahiyangana - Dimbulagala - Dalukkane         0   24030
1093     K0044  Mahiyangana - Dimbulagala - Dalukkane     24030   46865
1094     K0044  Mahiyangana - Dimbulagala - Dalukkane     46865   72410
1095     K0045                     Avissawela By pass         0     910

                 Depot                EE           CE                Province  \
0                  CMC           Colombo      Colombo        Western Province
1               Nawala           Colombo      Colombo        Western Province
2                  CMC           Colombo      Colombo        Western Province
3         Orugodawatta           Colombo      Colombo        Western Province
4            Kadawatha           Gampaha      Gampaha        Western Province
...                ...               ...          ...                     ...
1091          Pelwatta        Monaragala   Monaragala            UVA Province
1092     Mahiyanganaya     Mahiyanganaya      Badulla            UVA Province
1093  Dehiatthakandiya  Dehiatthakandiya       Ampara      Add.P Akkaraipattu
1094          Siripura       Polonnaruwa  Polonnaruwa  North Central Province
1095        Kaluaggala       Avissawella      Colombo        Western Province

      Count
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
1091    NaN
1092    NaN
1093    NaN
1094    NaN
1095    NaN

[1096 rows x 9 columns]

In [25]:
output_file3 = "output3.csv"
df7.to_csv(output_file3, index=False)